<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Salut !</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Bonjour <%= name %> <%= emoji %> !</h1>
    <a href="/">Retour</a>
  </div>
</body>
</html>
